body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.top-area {
    height: 300px;
    padding: 20px;
    background-color: #1f2937;
    color: #f9faf8;
    padding-bottom: 100px;
}

.header {
    display: flex;
    align-items: center;
}

#header-logo {
    font-weight: 700;
    font-size: 20px;
    margin-left: 150px;
}

.right-links {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    padding: 0;
    list-style-type: none;
    gap: 20px;
}

.no-header-content {
    display: flex;
}

.awesome-content-not-image {
    flex-direction: column;
    margin-left: 150px;
}

.awesome-h {
    display: flex;
    flex-wrap: row wrap;
    width: 350px;
    font-size: 45px;
    margin-bottom: 2px;
}

.awesome-below {
    width: 500px;
    margin-top: 0;
}

.top-area button, .fourth-area button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    font-weight: 500;
}


h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-image {
    height: 200px;
    width: 600px;
    background-color: rgb(128, 128, 128);
    margin-left: 50px;
    margin-top: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 200px;
}

.second-area {
    display: flex;
    justify-content: center;
    padding: 0px 20px 50px 20px;
    gap: 40px;
    flex: 1;
}

.second-image, .third-image, .fourth-image, .fifth-image {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #3882f6;
    border-width: 3px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.second-image-bag, .third-image-bag, .fourth-image-bag, .fifth-image-bag {
    display: flex;
    flex-direction: column;
}

.card {
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    color:rgb(128, 128, 128);
}

.third-area {
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 207, 207);
    height: 300px;
    justify-content: center;
    align-items: center;
}

.quote, .quote-person {
    padding: 10px;
}

.quote {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: whitesmoke;
    width: 600px;
}

.quote-person {
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: end;
    margin-left: 300px;
}


.fourth-area-box {
    background-color: #3882f6;
    display: flex;
    box-sizing: border-box;
    margin: 100px 200px;
    padding: 30px;
}

.call-to-action-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #3882f6;
}

.call-to-action-box .its-time {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
    margin-bottom: 5px;
}

.call-to-action-box .sign-up {
    font-size: 18px;
    color: whitesmoke;
    margin-left: 50px;
    margin-top: 0px;
}

.fourth-area-box button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: 3px solid white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    margin: 30px 90px 30px 30px;
}